/* ------------------------------------------------------------------------------------------------ */
/* --- Badges ------------------------------------------------------------------------------------- */


@use 'sass:math';

@mixin badge($_bg-color) {
    border-radius: $radius-lg;
    background-color: $_bg-color;
    padding: 0.5em 1em;
    font-size: $fontSize-xs;
    font-weight: normal;
}



.badge {
    @include badge($color-primary);
}
// @each $key, $val in $colors {
//     .badge-#{$key}{
//         @include badge($val);
//     }
// }


/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
