/* ------------------------------------------------------------------------------------------------ */
/* --- Clickable ---------------------------------------------------------------------------------- */


.clickable {
    cursor: pointer;

    &:hover {
        transform: scale(1.015) translateY(-1px);
    }
    &:active {
        transform: scale(0.98);
    }
}



/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */